.formTitle {
    margin: 25px auto;
    width: fit-content;
}

.formContainer {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: var(--card-bg-color);
    box-shadow: 0 0 8px 5px rgba(0, 0, 0, .1);
}


.clearFormControl {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.checkbox {
    width: 18px;
    height: 18px;
    accent-color: var(--green-color);
}

.checkbox:disabled + span {
    opacity: 50%;
}